/****/

i {
    margin-right: 10px;
}

.my-banner {
    width: 75%;
    height: auto;
    text-shadow: 3px 3px 5px grey;
}

.my-nav-font {
    font-size: 14px;
}

.portfolio-box {
    background-color: #fff;
    border: 10px solid white;
    box-shadow: 5px 5px 12px rgba(150, 150, 150, 1.0);
    border-radius: 3px;
}

.portfolio-box p {
    padding-top: 14px;
}

.my-section-p {
    padding-top: 20px;
}

.bg1 {
    background-color: rgba(240, 238, 228, .5);
}


.apply-one-bg {
    background-image: url('../img/applyOneImg.jpg');
}

.apply-two-bg {
    background-image: url('../img/applyTwoImg.jpg');
}

.apply-three-bg {
    background-image: url('../img/applyThreeImg.jpg');
}

.apply-four-bg {
    background-image: url('../img/applyFourImg.jpg');
}

.bigger {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgba(35, 24, 21, .7);
    background-size: 100%;
}

.bigger:hover {
    background-size: 105%;
    transition-duration: 0.5s;
}

.textsShadow {
    text-shadow: 2px 2px 4px rgba(35, 24, 21, .5);
}

.myh5 {
    line-height: 35px;
}
